*{
    padding: 0%;
    margin: 0%;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.card{
    background-color: hsl(212, 45%, 89%);
    width: 300px;
    border: 5px solid white;
    padding: 150px;
    margin-top: 60px;
    padding-left: 50px;
}
img{
    width: 350px;
}
.imass{
    width: 350px;
    border: 20px solid wheat;
    
    height: auto;
    
}

 